%h3
  .text-center
    = controller_name.humanize + ":"
    = action_name.humanize
    .badge.badge-info
      = @tenants.count

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th id
      %th Name
      %th Subdomain
      %th
      %th
  %tbody
    - @tenants.each do |tenant|
      %tr
        %td= link_to tenant.id, tenant
        %td= tenant.name
        %td= tenant.subdomain
        %td= link_to 'Edit', edit_tenant_path(tenant)
        %td= link_to 'Destroy', tenant, method: :delete, data: { confirm: 'Are you sure?' }
%br