%h3
  .text-center
    = controller_name.humanize + ":"
    = action_name.humanize
    .badge.badge-info
      = @users.count

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th id
      %th email
      %th Tenants

  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.id, user
        %td= user.email
        %td= user.tenants.compact.join(', ')
%br
