%h1 Listing members

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th id
      %th Tenant
      %th Tenant id
      %th User
      %th
      %th
      %th

  %tbody
    - @members.each do |member|
      %tr
        %td= member.id
        %td= member.tenant
        %td= member.tenant.id
        %td= member.user
        %td= link_to 'Show', member
        %td= link_to 'Edit', edit_member_path(member)
        %td= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Member', new_member_path

%hr
= form_tag invite_members_path, method: :get do
  = email_field_tag 'email'
  = submit_tag("Invite a member")
