%h3
  .text-center
    = controller_name.humanize + ":"
    = action_name.humanize
    .badge.badge-info
      = @members.count

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th id
      %th Tenant
      %th Tenant id
      %th User
      %th
      %th
  %tbody
    - @members.each do |member|
      %tr
        %td= link_to member.id, member
        %td= member.tenant
        %td= member.tenant.id
        %td
          - if member.user.present?
            = member.user_id
            = member.user
            - if member.user.created_by_invite?
              - unless member.user.invitation_accepted?
                = link_to 'Resend invitation', resend_invitation_member_path(member), method: :patch, class: 'btn btn-sm btn-secondary'
        %td= link_to 'Edit', edit_member_path(member)
        %td= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Member', new_member_path

%hr
= form_tag invite_members_path, method: :get do
  = email_field_tag 'email'
  = submit_tag("Invite a member")
